# Godot 4+ specific ignores
.godot/
/android/
.DS_Store
*.gdc
/addons
/addons
/assets
/autoloads
/backgrounds
/components
default_bus_layout.tres
default_env.tres
/enemies
game_icon.ico
gdre_export.log
/json_defs
/levels
/pets
/pickups
/player
/shaders
/shields
/skins
/ui
/utils
/weapons
